:root {
    --header-height: 200px;
    --header-img-height: 200px;
    --header-height-scrolled: 80px;
    --section-mtop: 100px;
    /* ダークモード無効 */
    color-scheme: light;
}

/* font用、スクロールフェードイン用 */
body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    background-color: rgb(255,253,250);
    h2, nav {
        font-family: "Roboto", sans-serif;
    }
    section {
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s cubic-bezier(.175,.885,1,1);
    }
    .sections-scrolled {
        opacity: 1;
        transform: translate(0px);
    }
}
#wrapper {
    min-height: 100vh;
}


/* ~~~~~~~~~~~~~~~~~~~~ヘッダー~~~~~~~~~~~~~~~~~~~~ */

/* ヘッダー初期 */
.Header--top {
    transition: all 0.25s;
    position: fixed;
    z-index: 1;
    background: rgba(255, 253, 250, 0.6);
    top: 0;
    height: var(--header-height);
    width: 100%;
    #he-imgbox {
        height: 155px;
        display: flex;
        justify-content: center;
        a {
            img {
                margin: auto;
                height: 100%;
            }
        }
    }
    .header-nav{
        margin-top: 15px;
    }
    .h-ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
        .sub-menu {
            display: none;
        }
    }
    a {
        text-decoration: none;
    }
    #header-nav-toggle {
        /* Menuの文字を隠して判定物扱い */
        color: transparent;
    }
}

/* ヘッダースクロール */
/* 変化後 */
/* ！記述位置 */
.Header-scrolled {
    height: var(--header-height-scrolled);
    padding: 12px 60px;
    display: flex;
    justify-content: space-between;
    #he-imgbox {
        height: 50px;
    }
    .header-nav {
        align-self: center;
        margin-top: 0;
        top: var(--header-height-scrolled) !important;
        /* display: none; */
    }
    .header-nav-toggle {
        display: none;
    }
}
/* 955以下 バーガーメニュー出現 */
@media screen and (max-width: 955px) {
    .Header--top {
        padding: 12px 20px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;;
        #he-imgbox {
            /* grid中央寄せ */
            grid-column: 2;
        }
        .header-nav {
            position: absolute;
            top: var(--header-height);
            left: 0px;
            margin-top: 0px; /* 打ち消し */
            /* anime .h-r-active対応 */
            opacity: 0;
            transform: translateX(-150px);
            display: none; 
            transition: opacity .45s cubic-bezier(.104,.204,.492,1), transform .25s cubic-bezier(.104,.204,.492,1), display .25s cubic-bezier(.104,.204,.492,1) allow-discrete;
        }
        .h-ul {
            display: block;
            padding: 0 50px;
            li {
                font-size: 1.5rem;
                display: flex;
                flex-wrap: wrap;
                a {
                    display: flex;
                    align-items: center;
                    padding: 5px 0;
                    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
                    width: 95%;
                }
                .sub-menu {
                    display: none;
                    width: 100%;
                    padding-left: 10px;
                    opacity: 0;
                    transform: translateX(-150px);
                    transition: opacity .45s cubic-bezier(.104,.204,.492,1), transform .25s cubic-bezier(.104,.204,.492,1), display .25s cubic-bezier(.104,.204,.492,1) allow-discrete;
                }
                .sub-menu-active {
                    display: block;
                    opacity: 1;
                    transform: translateX(0);
                }
                @starting-style {
                    .sub-menu-active {
                        transform: translateX(-150px);
                        opacity: 0;
                    }
                }
            }
        }
        /* クリックしたら展開される */
        .h-r-active {
            height: 100dvh;
            background: rgba(255, 255, 255, 0.6);
            width: 100%;
            /* anime .header-nav対応 */
            opacity: 1;
            transform: translateX(0);
            display: block;
        }
        /* anime .header-nav→.h-r-active */
        @starting-style {
            .h-r-active {
                transform: translateX(-150px);
                opacity: 0;
            }
        }
        
        .header-nav-toggle {
            /* grid右寄せ */
            grid-column: 3;
            justify-self: end;
            line-height: 65px;
            width: 24px;
            display: block;
            /* バーガーアニメ */
            span, span::before, span::after {
                content: "";
                background: #000000;
                display: inline-block;
                position: absolute;
                height: 3px;
                width: 24px;
                top: 50%;
                transition: transform 0.2s;
                transform-origin: 0% 50%;
            }
            span::before {
                top: -8px;
            }
            span::after {
                top: 8px;
            }
        }
        /* 開閉アニメ */
        .h-r-activer {
            span {
                background: transparent;
            }
            span::before{
                transform: translateX(4px) translateY(-1px) rotate(45deg);
            }
            span::after{
                transform: translateX(4px) translateY(0px) rotate(-45deg);;
            }
        }
    }
}


/* ~~~~~~~~~~~~~~~~~~~~内容部~~~~~~~~~~~~~~~~~~~~ */


/* メイン画像 */
.headimg {
    margin-top: var(--header-height);
    width: 100%;
    height: calc(100vh - var(--header-height));
    img {
        height: 80%;
        width: 100%;
        object-fit: cover;
    }
}

@layer normalsec, bridalsec, setsec, responsiv;
#main-content {
    max-width: 960px;
    width: 90%;
    margin: auto;
    padding-bottom: 150px;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 360 / 240;
        /* border-radius: 12px; */
    }
    #img_setsalon {
        object-position: 0 14%;
    }

    @layer normalsec;
    .sections {
        margin-top: var(--section-mtop);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 17px;
        grid-template-rows: 50px auto 90px;
        .img_container {
            grid-row: 2/4;
            grid-column: 2;
            width: 80%;
            overflow: hidden;
        }
        .sec_h {
            grid-column: 1;
            justify-self: start;
        }
        .sec_p {
            grid-column: 1;
            grid-row: 2;
            align-self: center;
            padding-left: 45px;
        }
        .sec_more {
            grid-column: 1;
            grid-row: 3;
            justify-self: center;
            align-self: center;
        }
    }
    @layer bridalsec;
    .Bridal {
        grid-template-rows: 50px auto 90px auto 90px auto 90px;
        .img_container {
            grid-row: 2/-1;
            grid-column: 2;
            align-self: center;
        }
        .br-sec_p2 {
            grid-row: 4;
        }
        .br-sec_btn2 {
            grid-row: 5;
        }
        .br-sec_p3 {
            grid-row: 6;
        }
        .br-sec_btn3 {
            grid-row: 7;
        }
    }
    @layer setsec;
    .setsalon {
        grid-template-rows: 50px auto 40px 290px;
        .setsalon_imgs {
            grid-row: 4;
            text-align: center;
        }
        .sts_i1 {
            justify-self: center;
        }
        .sts_i2 {
            justify-self: start;
        }
        .imgbox {
            width: 80%;
        }
    }
    /* MORE btn */
    .more-btn {
        height: 50px;
        width: 105px;
        background-color: #bb9696;
        align-self: end;
        text-align: center;
        align-content: center;
        a {
            color: white;
            text-decoration: none;
            display: inline-flex;
            line-height: 1.1rem;
            position: relative;
        }
        /* 下線アニメーション */
        a:after, a:before {
            content: "";
            display: block;
            position: absolute;
            top: calc(100% + 2px);
            left: 0;
            width: 100%;
            height: 1px;
            pointer-events: none;
        }
        a:before {
            background: rgba(236, 236, 236, 0.4);
        }
        a:after {
            background: rgba(236, 236, 236, 1.0);
            transform-origin: left center;
            transform: scaleX(0);
            transition: all .25s cubic-bezier(.104,.204,.492,1);
        }
        a:hover:after {
            transform: scaleX(1);
        }
    }
    /* NEWS */
    #news {
        margin-top: var(--section-mtop);
        
        h2 {
            height: 50px;
        }
        a {
            text-decoration: none;
        }
        ul {
            display: flex;
            justify-content: center;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }
        li {
            scroll-snap-align: start;
            width: 170px;
            margin: 0 10px;
        }
        .newsimgbox {
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 170 / 260;
            }
        }
        .date {
            margin-top: 10px;
            font-size: 12px;
        }
        p {
            display: flex;
            justify-content: space-between;
        }
        .category {
            width: 75px;
            text-align: center;
            border: 1px solid black;
            border-radius: 10px;
        }
        .sec_more {
            display: block;
            margin: 30px auto 0;
        }
    }

    @media screen and (max-width: 481px) {
        .sections {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            gap: 17px 0;
            .img_container {
                grid-row: 2;
                grid-column: 1; /* 打ち消し */ 
                justify-self: center;
            }
            .sec_p {
                grid-row: 3;
                padding: 0; /* 打ち消し */ 
                width: 80%;
                justify-self: center; /* 打ち消し */ 
            }
            .sec_more {
                grid-row: 4;
            }
        }
        .Bridal {
            grid-template-rows: auto auto auto auto auto auto auto;
            .br-sec_p1 {
                grid-row: 3;
            }
            .br-sec_btn1 {
                grid-row: 4;
            }
            .br-sec_p2 {
                grid-row: 5;
            }
            .br-sec_btn2 {
                grid-row: 6;
            }
            .br-sec_p3 {
                grid-row: 7;
            }
            .br-sec_btn3 {
                grid-row: 8;
            }
        }
        .setsalon {
            grid-template-rows: auto auto auto auto;
            grid-template-columns: 1fr 1fr;
            .img_container, .sec_p {
                grid-column: 1/-1;
            }
            .sts_i1, .sts_i2 {
                justify-self: center;
            }
        }
        #news {
            ul {
                justify-content: start;
                li {
                    .newsimgbox {
                        width: 170px;
                    }
                }
            }
        }
    }
}

footer {
    padding: 50px 0 30px;
    background-color: #141414;
    text-align: left;
    p, b {
        color: white;
    }
    p {
        font-size: 12px;
    }
    a {
        display: inline-block;
        min-width: 120px;
        height: 45px;
        color: #141414;
        text-decoration: none;
        background-color: white;
        text-align: center;
        align-content: center;
    }
    .footer-mainbox {
        display: grid;
        max-width: 1000px;
        width: 85%;
        margin: 0 auto;
        height: 300px;
        grid-template-columns: minmax(100px, 250px) minmax(200px, 250px) minmax(200px, 250px) 170px;
        grid-template-rows: 1fr 2fr 2fr 1fr 2fr;
        gap: 0 5px;
        
        #footer-logo {
            grid-column: 1;
            grid-row: 1/6;
            img {
                filter: invert(100%);
                width: 100%;
            }
        }
        #fo-address-nagoya {
            grid-column: 2;
            grid-row: 1/6;
        }
        #fo-address-tokyo {
            grid-column: 3;
            grid-row: 1/6;
        }
        .fo-right {
            grid-column: 4;
            justify-self: center;
        }
        #fo-inquiry-tit1 {
            grid-row: 1;
        }
        #fo-inquiry-bt1 {
            grid-row: 2;
        }
        #fo-inquiry-bt2 {
            grid-row: 3;
        }
        #fo-inquiry-tit2 {
            grid-row: 4;
        }
        #fo-inquiry-bt3 {
            grid-row: 5;
        }
    }
    #footer-copy {
        justify-self: center;
        margin-top: 40px;
    }
}
@media (max-width: calc( (100px + 5px + 200px + 5px + 200px + 5px + 170px) / 0.85)) {
    #footer-mainbox {
        grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
        height: 600px;
        grid-template-rows: 100px 7fr 1fr 1.2fr 1.2fr;
        gap: 10px 5px;
        #fo-inquiry-tit1, #fo-inquiry-bt1, #fo-inquiry-bt2 {
            grid-column: 1;
        }
        #fo-inquiry-tit2, #fo-inquiry-bt3 {
            grid-column: 2;
        }
        #footer-logo {
            grid-row: 1;
            img {
                height: 100%;
                width: auto;
            }
        }
        #fo-address-nagoya {
            grid-column: 1;
            grid-row: 2;
        }
        #fo-address-tokyo {
            grid-column: 2;
            grid-row: 2;
        }
        #fo-inquiry-tit1 {
            grid-row: 3;
        }
        #fo-inquiry-bt1 {
            grid-row: 4;
        }
        #fo-inquiry-bt2 {
            grid-row: 5;
        }
        #fo-inquiry-tit2 {
            grid-row: 3;
        }
        #fo-inquiry-bt3 {
            grid-row: 4;
        }
    }
}