:root {
    --header-height: 200px;
    --header-height-scrolled: 80px;
    --section-mtop: 155px;
    /* ダークモード無効 */
    color-scheme: light;
}

/* font用、スクロールフェードイン用 */
body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    h2, nav {
        font-family: "Roboto", sans-serif;
    }
    section {
        opacity: 0;
        transform: translateX(50px);
        transition: all 1s cubic-bezier(.175,.885,1,1);
    }
    .sections-scrolled {
        opacity: 1;
        transform: translateX(0px);
    }
}
/* #wrapper {
    width: 100vw;
} */

/* ヘッダー初期 */
.Header--top {
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    height: var(--header-height);
    width: 100vw;
    #he-imgbox {
        height: 155px;
    }
    img {
        margin: auto;
        height: 100%;
    }
    .header-nav{
        margin-top: 15px;
    }
    .h-ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    a {
        text-decoration: none;
    }
    #header-nav-toggle {
        /* Menuの文字を隠して判定物扱い */
        color: transparent;
    }
}
/* 仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮 */
@media screen and (max-width: 455px) {
    .Header--top {
        height: 80px;
        padding: 12px 60px;
        display: flex;
        justify-content: space-between;
        #he-imgbox {
            height: 50px;/* 仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮 */
        }
        .header-nav {
            align-self: center;
            margin-top: 0;
        }
        .header-nav-toggle {
            display: none;
        }
        /* スマホ ハンバーガーメニュー */
        @media screen and (max-width: 955px) {
            /* background: rgba(122, 235, 255, 0.6); */
            .header-nav {
                position: absolute;
                top: var(--header-height-scrolled);
                left: 0px;
                /* anime */
                transform: translateX(-150px);
                opacity: 0;
                transition: transform .25s cubic-bezier(.104,.204,.492,1);;
            }
            .h-ul {
                display: block;
                padding: 0 50px;
                li {
                    height: 50px;
                    font-size: 1.5rem;
                    a {
                        display: flex;
                        align-items: center;
                        padding: 5px 0;
                    }
                }

            }
            /* クリックしたら展開される */
            .h-r-active {
                /* anime */
                transform: translate(0);
                opacity: 1;
                height: 100dvh;
                background: rgba(255, 255, 255, 0.6);
                
                width: 100%;
                display: block;
            }
            .header-nav-toggle {
                line-height: 80px;
                width: 24px;
                display: block;
                /* バーガーアニメ */
                span, span::before, span::after {
                    content: "";
                    background: #000000;
                    display: inline-block;
                    position: absolute;
                    height: 3px;
                    width: 24px;
                    top: 50%;
                    transition: transform 0.2s;
                    transform-origin: 0% 50%;
                }
                span::before {
                    top: -8px;
                }
                span::after {
                    top: 8px;
                }
            }
            /* バーガーアニメ */
            .h-r-activer {
                span {
                    background: transparent;
                }
                span::before{
                    transform: translateX(4px) translateY(-1px) rotate(45deg);
                }
                span::after{
                    transform: translateX(4px) translateY(0px) rotate(-45deg);;
                }
            }
        }
    }
}

/* ヘッダースクロール */
/* 変化後 */
.Header-scrolled {
    transition: 0.25s;
    height: var(--header-height-scrolled);
    padding: 12px 60px;
    display: flex;
    justify-content: space-between;
    #he-imgbox {
        height: 50px;
    }
    .header-nav {
        align-self: center;
        margin-top: 0;
    }
    .header-nav-toggle {
        display: none;
    }
    /* スマホ ハンバーガーメニュー */
    @media screen and (max-width: 955px) {
        /* background: rgba(122, 235, 255, 0.6); */
        .header-nav {
            position: absolute;
            top: var(--header-height-scrolled);
            left: 0px;
            /* anime */
            transform: translateX(-150px);
            opacity: 0;
            transition: transform .25s cubic-bezier(.104,.204,.492,1);;
        }
        .h-ul {
            display: block;
            padding: 0 50px;
            li {
                height: 50px;
                font-size: 1.5rem;
                a {
                    display: flex;
                    align-items: center;
                    padding: 5px 0;
                }
            }

        }
        /* クリックしたら展開される */
        .h-r-active {
            /* anime */
            transform: translate(0);
            opacity: 1;
            height: 100dvh;
            background: rgba(255, 255, 255, 0.6);
            
            width: 100%;
            display: block;
        }
        .header-nav-toggle {
            line-height: 80px;
            width: 24px;
            display: block;
            /* バーガーアニメ */
            span, span::before, span::after {
                content: "";
                background: #000000;
                display: inline-block;
                position: absolute;
                height: 3px;
                width: 24px;
                top: 50%;
                transition: transform 0.2s;
                transform-origin: 0% 50%;
            }
            span::before {
                top: -8px;
            }
            span::after {
                top: 8px;
            }
        }
        /* バーガーアニメ */
        .h-r-activer {
            span {
                background: transparent;
            }
            span::before{
                transform: translateX(4px) translateY(-1px) rotate(45deg);
            }
            span::after{
                transform: translateX(4px) translateY(0px) rotate(-45deg);;
            }
        }
    }
}


.headimg {
    margin-top: var(--header-height);
    width: 100%;
    height: 500px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@layer normalsec, bridalsec, setsec;
#main-content {
    max-width: 960px;
    margin: auto;
    padding-bottom: 150px;
    width: 85%;
    .imgbox {
        width: 390px;
        height: 260px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* border-radius: 12px; */
        }
        #img_setsalon {
            object-position: 0 14%;
        }
    }

    @layer normalsec;
    .sections {
        /* debug */
        /* background-color: coral; */
        margin-top: var(--section-mtop);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 17px;
        grid-template-rows: 50px auto 90px;
        .sec_img {
            grid-row: 2/4;
            grid-column: 2;
        }
        .sec_h {
            grid-column: 1;
            justify-self: start;
        }
        .sec_p {
            grid-column: 1;
            grid-row: 2;
            align-self: center;
            padding-left: 45px;
        }
        .sec_more {
            grid-column: 1;
            grid-row: 3;
            justify-self: center;
            align-self: center;
        }
    }
    @layer bridalsec;
    #Bridal {
        grid-template-rows: 50px auto 90px auto 90px auto 90px;
        .sec_img {
            grid-row: 2/-1;
            grid-column: 2;
            align-self: center;
        }
        .br-sec_p2 {
            grid-row: 4;
        }
        .br-sec_btn2 {
            grid-row: 5;
        }
        .br-sec_p3 {
            grid-row: 6;
        }
        .br-sec_btn3 {
            grid-row: 7;
        }
    }
    @layer setsec;
    #setsalon {
        grid-template-rows: 50px auto 40px 290px;
        .setsalon_imgs {
            grid-row: 4;
            text-align: center;
        }
        .sts_i1 {
            justify-self: end;
        }
        .sts_i2 {
            justify-self: start;
        }
    }
    /* MORE btn */
    .more-btn {
        height: 50px;
        width: 105px;
        background-color: black;
        align-self: end;
        text-align: center;
        align-content: center;
        a {
            color: white;
            text-decoration: none;
            display: inline-flex;
            line-height: 1.1rem;
            position: relative;
        }
        /* 下線アニメーション */
        a:after, a:before {
            content: "";
            display: block;
            position: absolute;
            top: calc(100% + 2px);
            left: 0;
            width: 100%;
            height: 1px;
            pointer-events: none;
        }
        a:before {
            background: rgba(236, 236, 236, 0.4);
        }
        a:after {
            background: rgba(236, 236, 236, 1.0);
            transform-origin: left center;
            transform: scaleX(0);
            transition: all .25s cubic-bezier(.104,.204,.492,1);
        }
        a:hover:after {
            transform: scaleX(1);
        }
    }
    /* NEWS */
    #news {
        margin-top: var(--section-mtop);
    
        h2 {
            height: 50px;
        }
        a {
            text-decoration: none;
        }
        ul {
            display: flex;
            justify-content: center;
        }
        li {
            width: 170px;
            margin: 0 10px;
        }
        .newsimgbox {
            display: block;
            height: 260px;
            align-content: center;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .date {
            margin-top: 10px;
            font-size: 12px;
        }
        p {
            display: flex;
            justify-content: space-between;
        }
        .category {
            width: 75px;
            text-align: center;
            border: 1px solid black;
            border-radius: 10px;
        }
        .sec_more {
            display: block;
            margin: 30px auto 0;
        }
    }
}

footer {
    padding: 50px 0 30px;
    background-color: #141414;
    text-align: left;
    p, b {
        color: white;
    }
    p {
        font-size: 12px;
    }
    a {
        display: inline-block;
        min-width: 120px;
        height: 45px;
        color: #141414;
        text-decoration: none;
        background-color: white;
        text-align: center;
        align-content: center;
    }
    .footer-mainbox {
        display: grid;
        max-width: 1000px;
        width: 85%;
        margin: 0 auto;
        height: 300px;
        grid-template-columns: minmax(100px, 250px) minmax(200px, 250px) minmax(200px, 250px) 170px;
        grid-template-rows: 1fr 2fr 2fr 1fr 2fr;
        gap: 0 5px;
        
        #footer-logo {
            grid-column: 1;
            grid-row: 1/6;
            img {
                filter: invert(100%);
                width: 100%;
            }
        }
        #fo-address-nagoya {
            grid-column: 2;
            grid-row: 1/6;
        }
        #fo-address-tokyo {
            grid-column: 3;
            grid-row: 1/6;
        }
        .fo-right {
            grid-column: 4;
            justify-self: center;
        }
        #fo-inquiry-tit1 {
            grid-row: 1;
        }
        #fo-inquiry-bt1 {
            grid-row: 2;
        }
        #fo-inquiry-bt2 {
            grid-row: 3;
        }
        #fo-inquiry-tit2 {
            grid-row: 4;
        }
        #fo-inquiry-bt3 {
            grid-row: 5;
        }
    }
    #footer-copy {
        justify-self: center;
        margin-top: 40px;
    }
}
@media (max-width: calc( (100px + 5px + 200px + 5px + 200px + 5px + 170px) / 0.85)) {
    #footer-mainbox {
        grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
        height: 600px;
        grid-template-rows: 100px 7fr 1fr 1.2fr 1.2fr;
        gap: 10px 5px;
        #fo-inquiry-tit1, #fo-inquiry-bt1, #fo-inquiry-bt2 {
            grid-column: 1;
        }
        #fo-inquiry-tit2, #fo-inquiry-bt3 {
            grid-column: 2;
        }
        #footer-logo {
            grid-row: 1;
            img {
                height: 100%;
                width: auto;
            }
        }
        #fo-address-nagoya {
            grid-column: 1;
            grid-row: 2;
        }
        #fo-address-tokyo {
            grid-column: 2;
            grid-row: 2;
        }
        #fo-inquiry-tit1 {
            grid-row: 3;
        }
        #fo-inquiry-bt1 {
            grid-row: 4;
        }
        #fo-inquiry-bt2 {
            grid-row: 5;
        }
        #fo-inquiry-tit2 {
            grid-row: 3;
        }
        #fo-inquiry-bt3 {
            grid-row: 4;
        }
    }
}