body {
    font-size: 16px;
}
p {
    font-family: "Kaisei Opti", serif;
    /* font-family: "Zen Kaku Gothic New", sans-serif; */
}
a {
    text-decoration: none;
}

/* ヘッダー */
#headerBox {
    width: 100%;
    position: fixed;
    font-size: 1.8em;
    height: 5rem;
    padding-top: 21px; /* 手動… */
    padding-left: 2.5rem; /* 手動… */
    background: rgba(255, 255, 255, 0.8); /* debug */    
}
.logo {
    font-family: "Great Vibes", serif;
    font-weight: 600;
    color: black;
    
}
.toggle_btn {
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 2.5rem;
    display: block;
    cursor: pointer;
    transform: translateY(-50%);
}
.toggle_btn span::before {
    font-family: "Zen Kaku Gothic New", sans-serif;
    content: "MENU";
}


/* main1 */
#main_con {
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;/* same as header height */
}
h2 {
    text-align: center;
    margin: 5rem 0 1rem 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
}
.KeyV00 {
    width: 100%;
}

/* ニュース */
.list_news a {
    padding: 0 15px;
}
.date {
    margin-bottom: 10px;
}

/* ギャラリー */
.slideshow img {
    width: 100%;
    height: auto;
    animation: zoooom 30s linear forwards;
}
.slideshow {
    overflow: hidden;
}
@keyframes zoooom {
    100% { transform: scale(1.2)}
}


/* フッター */
.fotter-wrap {
    text-align: center;
    margin-top: 7rem;
    padding: 15px 15px;
}
.f-sec00 {
    display: flex;
    justify-content: space-between;
}
.f-sec00 p {
    font-size: 72px;
}
.fotter_logo {
    width: 90px;
    height: 90px;
}
.fotter-copyright {
    font-size: 16px;
}